<script>
    import "../app.css";

    import { afterUpdate} from "svelte";
    let show = false;

    afterUpdate(() => {
        show = true;
    })
</script>

{#if show}
    <h1>Malinki</h1>
    <a class="brand" href="https://nog.codes">
        <img class="brand__img" src="/logo.png" alt="ng logo">
    </a>

    <div class="container">
        <slot></slot>
    </div>
{/if}

<style>
    .brand {
        position: absolute;
        top: 0;
        right: 0;
        margin: 1rem;
    }

    .brand__img {
        width: 3rem;
    }

    .container {
        width: 100%;
        max-width: 50rem;
        text-align: center;
    }


</style>