<script lang="ts">
    import { enhance } from '$app/forms';
    export let form;
    let urlForm: HTMLFormElement;
    let urlInput = "";
    let copied = false;
    let { protocol, host } = location;

    const onCopy = () => {
        copied = true;
        navigator.clipboard.writeText(shortenedLink)
    }

    $: validUrl = urlInput !== "" && urlForm && urlForm.checkValidity();
    $: shortenedLink = `${protocol}//${host}/${form?.uniqueID}`;
</script>


    <h2>Convert your long URLs into short, shareable links. The provided shortened URLs remain valid for 30 days. </h2>
    <form bind:this={urlForm} method="POST" use:enhance class="form">
        <label class="form__label">
            <span class="form__text">Enter your URL</span>
            <input bind:value={urlInput} class="form__input" name="url" type="url" required>
        </label>
        <button>Shorten</button>
    </form>

    {#if form?.uniqueID}
        <input class="form__input form__input--result" type="text" readonly value={shortenedLink}>
        <button class="button--copy" on:click={onCopy}>
            <img src="/copy.svg" alt="">
            <p>{copied ? "Copied" : "Copy"}</p>
        </button>
    {/if}


<style>


    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 2rem;
    }

    .form__label {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }

    .form__text {
        display: inline-block;
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .form__input {
        padding: 1rem;
        font-size: 1.25rem;
        width: 100%;
        max-width: 50rem;

    }

    .form__input--result {
        width: fit-content;
        padding: 1rem 1rem;
        min-width: 18rem;
        text-align: center;
    }

    .button--copy {
        line-height: 1;
        border: 0;
    }

    .button--copy p {
        margin: 0;
    }

    .button--copy:hover {
        background-color: initial;
        color: var(--primary-color);
    }
</style>
