<script>
    import { goto } from "$app/navigation";
</script>

<h2>
    The link you provided wasn't able to be redirected. Maybe it was wrong or it expired.
</h2>
<button on:click={() => goto("/")}>
    Back to Home
</button>