@font-face {
    font-family: "Source Code Pro";
    font-weight: 1 999;
    src: url("/fonts/SourceCodePro-VariableFont_wght.ttf") format("truetype-variations");
}

:root {
    --primary-bg: #f89948;
    --primary-color: #0f1932;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Source Code Pro", monospace;
    margin: 0;
    position: relative;
    background-color: var(--primary-bg);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15vh 2rem 2rem 2rem;
}

button {
    all: unset;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    border: 2px solid black;
    font-weight: 600;
    transition: all .25s linear;
    position: relative;
}

button:not([disabled]):hover {
    background-color: var(--primary-color);
    color: var(--primary-bg)
}

button:disabled {
    opacity: 0.6;
}

button:not([disabled]):active {
    top: 1px;
}

h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
}

h2 {
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}
